include README.md
include requirements.txt
recursive-include lywsd03mmc_plotly_graph/templates *
recursive-include lywsd03mmc_plotly_graph/static *
recursive-include lywsd03mmc_plotly_graph/translations *
